<html ng-app="techPayApp" >
  <head>
    <meta charset="UTF-8">
    <title>Log-in</title>
    
    
    
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

        <link rel="stylesheet" href="css/style.css">
    
  </head>

  <body>

    <div class="login-card">
    <h1>QIWI</h1><br>
    <h4>Digite uma nova senha</h4><br>
	<form  ng-controller="LoginCtrl" ng-submit="chpassword()" method="POST">
        <input name='password' type='password' ng-model='password1' placeholder="Senha" />
        <input name='password' type='password' ng-model='password2' placeholder="Confirme a senha" />
	<font color='red'>{{ message }}</font>
    <input type="submit" name="login" class="login login-submit" value="Modificar senha">
  </form>
    
</div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

    
    
    
    
  </body>
</html>
